ul {
  display: table;
  list-style: none;
  padding: none;
}
li {
  display: table-row;
}
li > * {
  display: table-cell;
}
li > span {
  width: 30%;
}
li > span:nth-child(2) {
}
li > input {
  width: 40%;
}

