body {
  background-color: #000;
  color: gold;
  font-family: sans-serif;
}
ul {
  display: table;
  list-style: none;
  padding: 0;
  width: 100%;
}
li {
  display: table-row;
}
li > * {
  display: table-cell;
}
li > span {
  width: 30%;
}
li > span:nth-child(2) {
  width: 20%;
}
li > input {
  width: 50%;
}
#status {
  line-height: 24px;
  vertical-align: middle;
}

