ul {
  display: table;
  list-style: none;
  padding: 0;
}
li {
  display: table-row;
}
li > * {
  display: table-cell;
}
li > span {
  width: 30%;
}
li > span:nth-child(2) {
  width: 20%;
}
li > input {
  width: 50%;
}

